body{
    background-color: #000000;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #000000;
    border-color: #F0A500;
}